.cover {
  position: relative;
  padding-top: 33.33%;
  overflow: hidden;
  border-top-left-radius: calc(.5rem - 1px);
  border-top-right-radius: calc(.5rem - 1px);
}

.cover img{
  position: absolute;
  width: 100%;
  top: -100%;
}
