<div class="modal-body bg-lighter" style="border-radius: 0.5rem;">
  <!-- Header -->
  <div class="row">
    <div class="col">
      <!-- Prettitle -->
      <h6 class="text-uppercase text-muted mb-3">
        <a class="text-reset">Update avatar</a>
      </h6>

      <!-- Title -->
      <h2 class="mb-2">
        Upload new avatar!
      </h2>

      <!-- Subtitle -->
      <textarea
        class="form-control form-control-flush form-control-auto"
        data-toggle="autosize"
        rows="1"
        placeholder="Add a description..."
        style="overflow: hidden; overflow-wrap: break-word; height: 24px;"
      ></textarea>
    </div>
    <div class="col-auto">
      <!-- Close -->
      <button type="button" class="close" (click)="bsModalRef.hide()">
        <span>
          ×
        </span>
      </button>
    </div>
  </div>
  <!-- / .row -->

  <!-- Divider -->
  <hr class="my-4" />

  <!-- Buttons -->
  <div class="mb-4">
    <div class="row">
      <div class="col">
        <button class="btn btn-sm btn-white mr-2">
          Cancel
        </button>
      </div>
      <div class="col-auto">
        <!-- Button -->
        <button class="btn btn-sm btn-white" (click)="uploader.uploadAll()">
          Upload
        </button>
      </div>
    </div>
    <!-- / .row -->
  </div>

  <!-- Card -->
  <div class="card">
    <div class="card-body">
      <!-- Drop zone-->
      <div
        class="my-drop-zone"
        ng2FileDrop
        [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
        [uploader]="uploader"
        (fileOver)="fileOverBase($event)"
        (click)="onDropZoneClick()"
      >
        Drop files here to upload
      </div>

      <input
        class="d-none"
        type="file"
        ng2FileSelect
        [uploader]="uploader"
        #fileInput
      />
      <!-- Preview -->
      <ul
        class="dz-preview dz-preview-multiple list-group list-group-lg list-group-flush"
      >
        <li class="list-group-item" *ngFor="let item of uploader.queue">
          <div class="align-items-center row">
            <div class="col-auto">
              <!-- Image -->
              <div class="avatar avatar-lg">
                <img
                  alt="{{ item?.file?.name }}"
                  class="avatar-img rounded"
                  appPreview
                  [file]="item?._file"
                />
              </div>
            </div>

            <div class="col ml-n2">
              <!-- Name -->
              <h4 class="mb-1">
                {{ item?.file?.name }}
              </h4>

              <!-- Size -->
              <small class="text-muted" *ngIf="uploader.options.isHTML5">
                {{ item?.file?.size / 1000 / 1000 | number: ".2" }} MB
              </small>

              <!-- Progress -->
              <div
                class="row align-items-center no-gutters"
                *ngIf="uploader.options.isHTML5 && item.progress > 0"
              >
                <div class="col-auto">
                  <div class="small mr-2">{{ item.progress }}%</div>
                </div>
                <div class="col">
                  <div class="progress progress-sm">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      [ngStyle]="{ width: item.progress + '%' }"
                    ></div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Dropdown -->
            <div class="col-auto">
              <div class="dropdown">
                <a
                  class="dropdown-ellipses dropdown-toggle"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fe fe-more-vertical"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item">
                    Remove
                  </a>
                  <a class="dropdown-item">
                    Another action
                  </a>
                  <a class="dropdown-item">
                    Something else here
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Uploaded -->
  <div class="card" *ngIf="account.photos?.length > 0">
    <div class="card-header">
      <h4 class="card-header-title">
        Uploaded pictures
      </h4>
      <div *ngIf="selectedPhotoId !== currentAvatarId">
        <button class="btn btn-sm btn-white mr-2" (click)="deletePhoto()">
          <i class="fe fe-trash"></i>
          Delete
        </button>

        <button class="btn btn-sm btn-white" (click)="setMainPhoto()">
          <i class="fe fe-check-square"></i>
          Set avatar
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="avatar-container">
        <div
          class="avatar-item"
          [ngClass]="{
            'selected-avatar': selectedPhotoId === photo.id,
            'current-avatar': photo.id === currentAvatarId
          }"
          (click)="onPictureClick(photo.id)"
          *ngFor="let photo of account.photos"
        >
          <img src="{{ photo.url }}" alt="" class="avatar-img rounded" />
        </div>
      </div>
    </div>
  </div>
</div>
