<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 col-xl-4">
      <!-- Card -->
      <div class="card overflow-hidden">
        <!-- Dropdown -->
        <div class="dropdown card-dropdown">
          <a
            href="#!"
            class="dropdown-ellipses dropdown-toggle text-white"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fe fe-more-vertical"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item"> Action </a>
            <a class="dropdown-item"> Another action </a>
            <a class="dropdown-item"> Something else here </a>
          </div>
        </div>

        <!-- Image -->
        <div
          class="cover"
          style="
            background: #ffffff
              url('../assets/img/avatars/profiles/avatar-2.jpg') no-repeat
              center;
            background-size: cover;
          "
        ></div>
        <!-- Body -->
        <div class="card-body text-center">
          <!-- Image -->
          <a class="avatar avatar-xl card-avatar card-avatar-top">
            <img
              src="../assets/img/avatars/profiles/avatar-2.jpg"
              class="avatar-img rounded-circle border border-4 border-card"
              alt="..."
            />
          </a>

          <!-- Heading -->
          <h2 class="card-title">
            <a>Ab Hadley</a>
          </h2>

          <!-- Text -->
          <p class="small text-muted mb-3">
            Woprking on the latest API integration.
          </p>

          <!-- Badges -->
          <p class="card-text">
            <span class="badge badge-soft-secondary"> UX Team </span>
            <span class="badge badge-soft-secondary"> Research Team </span>
          </p>
        </div>

        <!-- Footer -->
        <div class="card-footer card-footer-boxed">
          <div class="row align-items-center justify-content-between">
            <div class="col-auto">
              <!-- Status -->
              <small> <span class="text-success">●</span> Online </small>
            </div>
            <div class="col-auto">
              <!-- Link -->
              <a href="#!" class="btn btn-sm btn-primary"> Subscribe </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-4">
      <!-- Card -->
      <div class="card overflow-hidden">
        <!-- Dropdown -->
        <div class="dropdown card-dropdown">
          <a
            href="#!"
            class="dropdown-ellipses dropdown-toggle text-white"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fe fe-more-vertical"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item"> Action </a>
            <a class="dropdown-item"> Another action </a>
            <a class="dropdown-item"> Something else here </a>
          </div>
        </div>

        <!-- Image -->
        <div
          class="cover"
          style="
            background: #ffffff
              url('../assets/img/avatars/profiles/avatar-3.jpg') no-repeat
              center;
            background-size: cover;
          "
        ></div>
        <!-- Body -->
        <div class="card-body text-center">
          <!-- Image -->
          <a class="avatar avatar-xl card-avatar card-avatar-top">
            <img
              src="../assets/img/avatars/profiles/avatar-3.jpg"
              class="avatar-img rounded-circle border border-4 border-card"
              alt="..."
            />
          </a>

          <!-- Heading -->
          <h2 class="card-title">
            <a>Ab Hadley</a>
          </h2>

          <!-- Text -->
          <p class="small text-muted mb-3">
            Woprking on the latest API integration.
          </p>

          <!-- Badges -->
          <p class="card-text">
            <span class="badge badge-soft-secondary"> UX Team </span>
            <span class="badge badge-soft-secondary"> Research Team </span>
          </p>
        </div>

        <!-- Footer -->
        <div class="card-footer card-footer-boxed">
          <div class="row align-items-center justify-content-between">
            <div class="col-auto">
              <!-- Status -->
              <small> <span class="text-success">●</span> Online </small>
            </div>
            <div class="col-auto">
              <!-- Link -->
              <a href="#!" class="btn btn-sm btn-primary"> Subscribe </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-4">
      <!-- Card -->
      <div class="card overflow-hidden">
        <!-- Dropdown -->
        <div class="dropdown card-dropdown">
          <a
            href="#!"
            class="dropdown-ellipses dropdown-toggle text-white"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fe fe-more-vertical"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item"> Action </a>
            <a class="dropdown-item"> Another action </a>
            <a class="dropdown-item"> Something else here </a>
          </div>
        </div>

        <!-- Image -->
        <div
          class="cover"
          style="
            background: #ffffff
              url('../assets/img/avatars/profiles/avatar-4.jpg') no-repeat
              center;
            background-size: cover;
          "
        ></div>
        <!-- Body -->
        <div class="card-body text-center">
          <!-- Image -->
          <a class="avatar avatar-xl card-avatar card-avatar-top">
            <img
              src="../assets/img/avatars/profiles/avatar-4.jpg"
              class="avatar-img rounded-circle border border-4 border-card"
              alt="..."
            />
          </a>

          <!-- Heading -->
          <h2 class="card-title">
            <a>Ab Hadley</a>
          </h2>

          <!-- Text -->
          <p class="small text-muted mb-3">
            Woprking on the latest API integration.
          </p>

          <!-- Badges -->
          <p class="card-text">
            <span class="badge badge-soft-secondary"> UX Team </span>
            <span class="badge badge-soft-secondary"> Research Team </span>
          </p>
        </div>

        <!-- Footer -->
        <div class="card-footer card-footer-boxed">
          <div class="row align-items-center justify-content-between">
            <div class="col-auto">
              <!-- Status -->
              <small> <span class="text-success">●</span> Online </small>
            </div>
            <div class="col-auto">
              <!-- Link -->
              <a href="#!" class="btn btn-sm btn-primary"> Subscribe </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-4">
      <!-- Card -->
      <div class="card overflow-hidden">
        <!-- Dropdown -->
        <div class="dropdown card-dropdown">
          <a
            href="#!"
            class="dropdown-ellipses dropdown-toggle text-white"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fe fe-more-vertical"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item"> Action </a>
            <a class="dropdown-item"> Another action </a>
            <a class="dropdown-item"> Something else here </a>
          </div>
        </div>

        <!-- Image -->
        <div
          class="cover"
          style="
            background: #ffffff
              url('../assets/img/avatars/profiles/avatar-5.jpg') no-repeat
              center;
            background-size: cover;
          "
        ></div>
        <!-- Body -->
        <div class="card-body text-center">
          <!-- Image -->
          <a class="avatar avatar-xl card-avatar card-avatar-top">
            <img
              src="../assets/img/avatars/profiles/avatar-5.jpg"
              class="avatar-img rounded-circle border border-4 border-card"
              alt="..."
            />
          </a>

          <!-- Heading -->
          <h2 class="card-title">
            <a>Ab Hadley</a>
          </h2>

          <!-- Text -->
          <p class="small text-muted mb-3">
            Woprking on the latest API integration.
          </p>

          <!-- Badges -->
          <p class="card-text">
            <span class="badge badge-soft-secondary"> UX Team </span>
            <span class="badge badge-soft-secondary"> Research Team </span>
          </p>
        </div>

        <!-- Footer -->
        <div class="card-footer card-footer-boxed">
          <div class="row align-items-center justify-content-between">
            <div class="col-auto">
              <!-- Status -->
              <small> <span class="text-success">●</span> Online </small>
            </div>
            <div class="col-auto">
              <!-- Link -->
              <a href="#!" class="btn btn-sm btn-primary"> Subscribe </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
