<div class="modal-header">
  <!-- Title -->
  <h4 class="modal-title">
    {{ title }}
  </h4>

  <!-- Navs -->
  <ul class="nav nav-tabs nav-tabs-sm modal-header-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#modalActivityAction"
        >Action</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#modalActivityUser">User</a>
    </li>
  </ul>
</div>

<div class="modal-body shrink">
  <div class="tab-content">
    <div class="tab-pane fade show active" id="modalActivityAction">
      <!-- List group -->
      <div class="list-group list-group-flush list-group-activity my-n3">
        <a
          class="list-group-item text-reset"
          *ngFor="let activity of activities"
        >
          <div class="row">
            <div class="col-auto">
              <!-- Avatar -->
              <div class="avatar avatar-sm">
                <div
                  class="avatar-title font-size-lg bg-primary-soft rounded-circle text-primary"
                >
                  <i class="fe fe-mail"></i>
                </div>
              </div>
            </div>
            <div class="col ml-n2">
              <!-- Heading -->
              <h5 class="mb-1">
                {{ activity.heading }}
              </h5>

              <!-- Text -->
              <p class="small text-gray-700 mb-0">
                {{ activity.text }}
              </p>

              <!-- Time -->
              <small class="text-muted">
                {{ activity.time }}
              </small>
            </div>
          </div>
          <!-- / .row -->
        </a>
      </div>
    </div>

    <!--          TODO: Add user notification-->
    <!--          <div class="tab-pane fade" id="modalActivityUser">-->
    <!--            &lt;!&ndash; List group &ndash;&gt;-->
    <!--            <div class="list-group list-group-flush list-group-activity my-n3">-->
    <!--              <a class="list-group-item text-reset" href="#!">-->
    <!--                <div class="row">-->
    <!--                  <div class="col-auto">-->
    <!--                    &lt;!&ndash; Avatar &ndash;&gt;-->
    <!--                    <div class="avatar avatar-sm avatar-online">-->
    <!--                      <img-->
    <!--                        class="avatar-img rounded-circle"-->
    <!--                        src="./assets/img/avatars/profiles/avatar-1.jpg"-->
    <!--                        alt="..."-->
    <!--                      />-->
    <!--                    </div>-->
    <!--                  </div>-->
    <!--                  <div class="col ml-n2">-->
    <!--                    &lt;!&ndash; Heading &ndash;&gt;-->
    <!--                    <h5 class="mb-1">-->
    <!--                      Dianna Smiley-->
    <!--                    </h5>-->

    <!--                    &lt;!&ndash; Text &ndash;&gt;-->
    <!--                    <p class="small text-gray-700 mb-0">-->
    <!--                      Uploaded the files "Launchday Logo" and "New Design".-->
    <!--                    </p>-->

    <!--                    &lt;!&ndash; Time &ndash;&gt;-->
    <!--                    <small class="text-muted">-->
    <!--                      2m ago-->
    <!--                    </small>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--                &lt;!&ndash; / .row &ndash;&gt;-->
    <!--              </a>-->
    <!--              <a class="list-group-item text-reset" href="#!">-->
    <!--                <div class="row">-->
    <!--                  <div class="col-auto">-->
    <!--                    &lt;!&ndash; Avatar &ndash;&gt;-->
    <!--                    <div class="avatar avatar-sm avatar-online">-->
    <!--                      <img-->
    <!--                        class="avatar-img rounded-circle"-->
    <!--                        src="./assets/img/avatars/profiles/avatar-2.jpg"-->
    <!--                        alt="..."-->
    <!--                      />-->
    <!--                    </div>-->
    <!--                  </div>-->
    <!--                  <div class="col ml-n2">-->
    <!--                    &lt;!&ndash; Heading &ndash;&gt;-->
    <!--                    <h5 class="mb-1">-->
    <!--                      Ab Hadley-->
    <!--                    </h5>-->

    <!--                    &lt;!&ndash; Text &ndash;&gt;-->
    <!--                    <p class="small text-gray-700 mb-0">-->
    <!--                      Shared the "Why Dashkit?" post with 124 subscribers.-->
    <!--                    </p>-->

    <!--                    &lt;!&ndash; Time &ndash;&gt;-->
    <!--                    <small class="text-muted">-->
    <!--                      1h ago-->
    <!--                    </small>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--                &lt;!&ndash; / .row &ndash;&gt;-->
    <!--              </a>-->
    <!--              <a class="list-group-item text-reset" href="#!">-->
    <!--                <div class="row">-->
    <!--                  <div class="col-auto">-->
    <!--                    &lt;!&ndash; Avatar &ndash;&gt;-->
    <!--                    <div class="avatar avatar-sm avatar-offline">-->
    <!--                      <img-->
    <!--                        class="avatar-img rounded-circle"-->
    <!--                        src="./assets/img/avatars/profiles/avatar-3.jpg"-->
    <!--                        alt="..."-->
    <!--                      />-->
    <!--                    </div>-->
    <!--                  </div>-->
    <!--                  <div class="col ml-n2">-->
    <!--                    &lt;!&ndash; Heading &ndash;&gt;-->
    <!--                    <h5 class="mb-1">-->
    <!--                      Adolfo Hess-->
    <!--                    </h5>-->

    <!--                    &lt;!&ndash; Text &ndash;&gt;-->
    <!--                    <p class="small text-gray-700 mb-0">-->
    <!--                      Exported sales data from Launchday's subscriber data.-->
    <!--                    </p>-->

    <!--                    &lt;!&ndash; Time &ndash;&gt;-->
    <!--                    <small class="text-muted">-->
    <!--                      3h ago-->
    <!--                    </small>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--                &lt;!&ndash; / .row &ndash;&gt;-->
    <!--              </a>-->
    <!--              <a class="list-group-item text-reset" href="#!">-->
    <!--                <div class="row">-->
    <!--                  <div class="col-auto">-->
    <!--                    &lt;!&ndash; Avatar &ndash;&gt;-->
    <!--                    <div class="avatar avatar-sm avatar-online">-->
    <!--                      <img-->
    <!--                        class="avatar-img rounded-circle"-->
    <!--                        src="./assets/img/avatars/profiles/avatar-1.jpg"-->
    <!--                        alt="..."-->
    <!--                      />-->
    <!--                    </div>-->
    <!--                  </div>-->
    <!--                  <div class="col ml-n2">-->
    <!--                    &lt;!&ndash; Heading &ndash;&gt;-->
    <!--                    <h5 class="mb-1">-->
    <!--                      Dianna Smiley-->
    <!--                    </h5>-->

    <!--                    &lt;!&ndash; Text &ndash;&gt;-->
    <!--                    <p class="small text-gray-700 mb-0">-->
    <!--                      Uploaded the files "Launchday Logo" and "New Design".-->
    <!--                    </p>-->

    <!--                    &lt;!&ndash; Time &ndash;&gt;-->
    <!--                    <small class="text-muted">-->
    <!--                      2m ago-->
    <!--                    </small>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--                &lt;!&ndash; / .row &ndash;&gt;-->
    <!--              </a>-->
    <!--              <a class="list-group-item text-reset" href="#!">-->
    <!--                <div class="row">-->
    <!--                  <div class="col-auto">-->
    <!--                    &lt;!&ndash; Avatar &ndash;&gt;-->
    <!--                    <div class="avatar avatar-sm avatar-online">-->
    <!--                      <img-->
    <!--                        class="avatar-img rounded-circle"-->
    <!--                        src="./assets/img/avatars/profiles/avatar-2.jpg"-->
    <!--                        alt="..."-->
    <!--                      />-->
    <!--                    </div>-->
    <!--                  </div>-->
    <!--                  <div class="col ml-n2">-->
    <!--                    &lt;!&ndash; Heading &ndash;&gt;-->
    <!--                    <h5 class="mb-1">-->
    <!--                      Ab Hadley-->
    <!--                    </h5>-->

    <!--                    &lt;!&ndash; Text &ndash;&gt;-->
    <!--                    <p class="small text-gray-700 mb-0">-->
    <!--                      Shared the "Why Dashkit?" post with 124 subscribers.-->
    <!--                    </p>-->

    <!--                    &lt;!&ndash; Time &ndash;&gt;-->
    <!--                    <small class="text-muted">-->
    <!--                      1h ago-->
    <!--                    </small>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--                &lt;!&ndash; / .row &ndash;&gt;-->
    <!--              </a>-->
    <!--              <a class="list-group-item text-reset" href="#!">-->
    <!--                <div class="row">-->
    <!--                  <div class="col-auto">-->
    <!--                    &lt;!&ndash; Avatar &ndash;&gt;-->
    <!--                    <div class="avatar avatar-sm avatar-offline">-->
    <!--                      <img-->
    <!--                        class="avatar-img rounded-circle"-->
    <!--                        src="./assets/img/avatars/profiles/avatar-3.jpg"-->
    <!--                        alt="..."-->
    <!--                      />-->
    <!--                    </div>-->
    <!--                  </div>-->
    <!--                  <div class="col ml-n2">-->
    <!--                    &lt;!&ndash; Heading &ndash;&gt;-->
    <!--                    <h5 class="mb-1">-->
    <!--                      Adolfo Hess-->
    <!--                    </h5>-->

    <!--                    &lt;!&ndash; Text &ndash;&gt;-->
    <!--                    <p class="small text-gray-700 mb-0">-->
    <!--                      Exported sales data from Launchday's subscriber data.-->
    <!--                    </p>-->

    <!--                    &lt;!&ndash; Time &ndash;&gt;-->
    <!--                    <small class="text-muted">-->
    <!--                      3h ago-->
    <!--                    </small>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--                &lt;!&ndash; / .row &ndash;&gt;-->
    <!--              </a>-->
    <!--              <a class="list-group-item text-reset" href="#!">-->
    <!--                <div class="row">-->
    <!--                  <div class="col-auto">-->
    <!--                    &lt;!&ndash; Avatar &ndash;&gt;-->
    <!--                    <div class="avatar avatar-sm avatar-online">-->
    <!--                      <img-->
    <!--                        class="avatar-img rounded-circle"-->
    <!--                        src="./assets/img/avatars/profiles/avatar-1.jpg"-->
    <!--                        alt="..."-->
    <!--                      />-->
    <!--                    </div>-->
    <!--                  </div>-->
    <!--                  <div class="col ml-n2">-->
    <!--                    &lt;!&ndash; Heading &ndash;&gt;-->
    <!--                    <h5 class="mb-1">-->
    <!--                      Dianna Smiley-->
    <!--                    </h5>-->

    <!--                    &lt;!&ndash; Text &ndash;&gt;-->
    <!--                    <p class="small text-gray-700 mb-0">-->
    <!--                      Uploaded the files "Launchday Logo" and "New Design".-->
    <!--                    </p>-->

    <!--                    &lt;!&ndash; Time &ndash;&gt;-->
    <!--                    <small class="text-muted">-->
    <!--                      2m ago-->
    <!--                    </small>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--                &lt;!&ndash; / .row &ndash;&gt;-->
    <!--              </a>-->
    <!--              <a class="list-group-item text-reset" href="#!">-->
    <!--                <div class="row">-->
    <!--                  <div class="col-auto">-->
    <!--                    &lt;!&ndash; Avatar &ndash;&gt;-->
    <!--                    <div class="avatar avatar-sm avatar-online">-->
    <!--                      <img-->
    <!--                        class="avatar-img rounded-circle"-->
    <!--                        src="./assets/img/avatars/profiles/avatar-2.jpg"-->
    <!--                        alt="..."-->
    <!--                      />-->
    <!--                    </div>-->
    <!--                  </div>-->
    <!--                  <div class="col ml-n2">-->
    <!--                    &lt;!&ndash; Heading &ndash;&gt;-->
    <!--                    <h5 class="mb-1">-->
    <!--                      Ab Hadley-->
    <!--                    </h5>-->

    <!--                    &lt;!&ndash; Text &ndash;&gt;-->
    <!--                    <p class="small text-gray-700 mb-0">-->
    <!--                      Shared the "Why Dashkit?" post with 124 subscribers.-->
    <!--                    </p>-->

    <!--                    &lt;!&ndash; Time &ndash;&gt;-->
    <!--                    <small class="text-muted">-->
    <!--                      1h ago-->
    <!--                    </small>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--                &lt;!&ndash; / .row &ndash;&gt;-->
    <!--              </a>-->
    <!--              <a class="list-group-item text-reset" href="#!">-->
    <!--                <div class="row">-->
    <!--                  <div class="col-auto">-->
    <!--                    &lt;!&ndash; Avatar &ndash;&gt;-->
    <!--                    <div class="avatar avatar-sm avatar-offline">-->
    <!--                      <img-->
    <!--                        class="avatar-img rounded-circle"-->
    <!--                        src="./assets/img/avatars/profiles/avatar-3.jpg"-->
    <!--                        alt="..."-->
    <!--                      />-->
    <!--                    </div>-->
    <!--                  </div>-->
    <!--                  <div class="col ml-n2">-->
    <!--                    &lt;!&ndash; Heading &ndash;&gt;-->
    <!--                    <h5 class="mb-1">-->
    <!--                      Adolfo Hess-->
    <!--                    </h5>-->

    <!--                    &lt;!&ndash; Text &ndash;&gt;-->
    <!--                    <p class="small text-gray-700 mb-0">-->
    <!--                      Exported sales data from Launchday's subscriber data.-->
    <!--                    </p>-->

    <!--                    &lt;!&ndash; Time &ndash;&gt;-->
    <!--                    <small class="text-muted">-->
    <!--                      3h ago-->
    <!--                    </small>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--                &lt;!&ndash; / .row &ndash;&gt;-->
    <!--              </a>-->
    <!--              <a class="list-group-item text-reset" href="#!">-->
    <!--                <div class="row">-->
    <!--                  <div class="col-auto">-->
    <!--                    &lt;!&ndash; Avatar &ndash;&gt;-->
    <!--                    <div class="avatar avatar-sm avatar-online">-->
    <!--                      <img-->
    <!--                        class="avatar-img rounded-circle"-->
    <!--                        src="./assets/img/avatars/profiles/avatar-1.jpg"-->
    <!--                        alt="..."-->
    <!--                      />-->
    <!--                    </div>-->
    <!--                  </div>-->
    <!--                  <div class="col ml-n2">-->
    <!--                    &lt;!&ndash; Heading &ndash;&gt;-->
    <!--                    <h5 class="mb-1">-->
    <!--                      Dianna Smiley-->
    <!--                    </h5>-->

    <!--                    &lt;!&ndash; Text &ndash;&gt;-->
    <!--                    <p class="small text-gray-700 mb-0">-->
    <!--                      Uploaded the files "Launchday Logo" and "New Design".-->
    <!--                    </p>-->

    <!--                    &lt;!&ndash; Time &ndash;&gt;-->
    <!--                    <small class="text-muted">-->
    <!--                      2m ago-->
    <!--                    </small>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--                &lt;!&ndash; / .row &ndash;&gt;-->
    <!--              </a>-->
    <!--              <a class="list-group-item text-reset" href="#!">-->
    <!--                <div class="row">-->
    <!--                  <div class="col-auto">-->
    <!--                    &lt;!&ndash; Avatar &ndash;&gt;-->
    <!--                    <div class="avatar avatar-sm avatar-online">-->
    <!--                      <img-->
    <!--                        class="avatar-img rounded-circle"-->
    <!--                        src="./assets/img/avatars/profiles/avatar-2.jpg"-->
    <!--                        alt="..."-->
    <!--                      />-->
    <!--                    </div>-->
    <!--                  </div>-->
    <!--                  <div class="col ml-n2">-->
    <!--                    &lt;!&ndash; Heading &ndash;&gt;-->
    <!--                    <h5 class="mb-1">-->
    <!--                      Ab Hadley-->
    <!--                    </h5>-->

    <!--                    &lt;!&ndash; Text &ndash;&gt;-->
    <!--                    <p class="small text-gray-700 mb-0">-->
    <!--                      Shared the "Why Dashkit?" post with 124 subscribers.-->
    <!--                    </p>-->

    <!--                    &lt;!&ndash; Time &ndash;&gt;-->
    <!--                    <small class="text-muted">-->
    <!--                      1h ago-->
    <!--                    </small>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--                &lt;!&ndash; / .row &ndash;&gt;-->
    <!--              </a>-->
    <!--              <a class="list-group-item text-reset" href="#!">-->
    <!--                <div class="row">-->
    <!--                  <div class="col-auto">-->
    <!--                    &lt;!&ndash; Avatar &ndash;&gt;-->
    <!--                    <div class="avatar avatar-sm avatar-offline">-->
    <!--                      <img-->
    <!--                        class="avatar-img rounded-circle"-->
    <!--                        src="./assets/img/avatars/profiles/avatar-3.jpg"-->
    <!--                        alt="..."-->
    <!--                      />-->
    <!--                    </div>-->
    <!--                  </div>-->
    <!--                  <div class="col ml-n2">-->
    <!--                    &lt;!&ndash; Heading &ndash;&gt;-->
    <!--                    <h5 class="mb-1">-->
    <!--                      Adolfo Hess-->
    <!--                    </h5>-->

    <!--                    &lt;!&ndash; Text &ndash;&gt;-->
    <!--                    <p class="small text-gray-700 mb-0">-->
    <!--                      Exported sales data from Launchday's subscriber data.-->
    <!--                    </p>-->

    <!--                    &lt;!&ndash; Time &ndash;&gt;-->
    <!--                    <small class="text-muted">-->
    <!--                      3h ago-->
    <!--                    </small>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--                &lt;!&ndash; / .row &ndash;&gt;-->
    <!--              </a>-->
    <!--            </div>-->
    <!--          </div>-->
  </div>
</div>
