::ng-deep ul.nav-tabs a.nav-link span:first-child{
  margin-right: 5px;
}

::ng-deep .custom-flush .ng-select-container {
  padding-left: 0;
  border-color: transparent !important;
  background-color: transparent !important;
  resize: none;
}

::ng-deep .custom-flush .ng-select-container:hover {
  box-shadow: none;
}

.custom {
  font-size: 0.8125rem;
  width: 100%;
}


pagination {
  position: absolute;
  width: 100%;
}

::ng-deep pagination ul {
  margin: 0 auto;
  width: fit-content;
}

::ng-deep pagination .page-link {
  padding: 1.25rem 0.75rem !important;
  background-color: transparent !important;
  border-radius: 0 !important;
  border: none;
  color: #95aac9;
}

::ng-deep .page-item.active .page-link {
  color: #12263f;
  border-top: 1px solid #2c7be5;
}

pager {
  width: 100%;
}

::ng-deep .btn-pager {
  padding: 1.25rem .75rem;
}

::ng-deep pager ul {
  margin: 0;
}

::ng-deep pager li.btn {
  padding: 0;
}

::ng-deep pager ul {
  list-style: none;
}

::ng-deep li.btn-pager {
  cursor: pointer;
  z-index: 999;
}

::ng-deep pager li:first-child a::before {
  content: "\e910";
  font-family: Feather;
  -webkit-font-smoothing: antialiased;
  margin-right: 0.1875rem;
}

::ng-deep pager a:hover {
  color: #12263f;
}

::ng-deep pager li:last-child a::after {
  content: "\e912";
  font-family: Feather;
  -webkit-font-smoothing: antialiased;
  margin-left: 0.1875rem;
}

::ng-deep pager ul {
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
}

::ng-deep pager li {
  line-height: 1.25;
}

::ng-deep pager a {
  color: #95aac9;
  line-height: 1.25;
}
