<div class="main-content d-flex flex-row" style="height: 100vh;">
  <div
    class="chat-contacts"
    style="border-right: 1px solid #e3ebf6; min-width: 375px; width: 375px;"
  >
    <div
      class="container-fluid d-flex flex-column"
      style="height: 100%; max-height: 100%;"
    >
      <div class="header">
        <div class="header-body">
          <h6 class="header-pretitle">Staff</h6>
          <h1 class="header-title">Messages</h1>
        </div>
      </div>

      <form class="mb-4">
        <div class="input-group input-group-lg input-group-merge">
          <input
            class="list-search form-control form-control-prepended"
            type="search"
            placeholder="Search"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fe fe-search"></span>
            </div>
          </div>
        </div>
      </form>

      <div class="hide-scrollbar chat-list">
        <div class="card card-sm mb-3 shadow-none" style="cursor: pointer;">
          <div class="card-body">
            <div class="row">
              <!-- Avatar -->
              <div class="col-auto">
                <div class="avatar avatar-sm">
                  <img
                    src="./assets/img/avatars/profiles/avatar-2.jpg"
                    alt="..."
                    class="avatar-img rounded-circle"
                  />
                </div>
              </div>

              <div class="col ml-n2">
                <div class="row">
                  <div class="col">
                    <div class="small">
                      <strong>Ab Hadley</strong>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="small text-muted">
                      <strong>10:20</strong>
                    </div>
                  </div>
                </div>
                <small class="text-gray-700">
                  Hello. How r u doin?
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-sm mb-3 shadow-none" style="cursor: pointer;">
          <div class="card-body">
            <div class="row">
              <!-- Avatar -->
              <div class="col-auto">
                <div class="avatar avatar-sm">
                  <img
                    src="./assets/img/avatars/profiles/avatar-1.jpg"
                    alt="..."
                    class="avatar-img rounded-circle"
                  />
                </div>
              </div>

              <div class="col ml-n2">
                <div class="row">
                  <div class="col">
                    <div class="small">
                      <strong>Dianna Smiley</strong>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="small text-muted">
                      <strong>1:30</strong>
                    </div>
                  </div>
                </div>
                <small class="text-gray-700">
                  Lorem ipsum dolor sit amet, conse
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-sm mb-3 shadow-none" style="cursor: pointer;">
          <div class="card-body">
            <div class="row">
              <!-- Avatar -->
              <div class="col-auto">
                <div class="avatar avatar-sm">
                  <img
                    src="./assets/img/avatars/profiles/avatar-3.jpg"
                    alt="..."
                    class="avatar-img rounded-circle"
                  />
                </div>
              </div>

              <div class="col ml-n2">
                <div class="row">
                  <div class="col">
                    <div class="small">
                      <strong>Adolfo Hess</strong>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="small text-muted">
                      <strong>11:11</strong>
                    </div>
                  </div>
                </div>
                <small class="text-gray-700">
                  Lorem ipsum dolor sit amet, conse
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="chat-body"
    style="background: white; padding: 0.75rem 1.5rem; flex-grow: 1;"
  >
    <div class="chat-header">
      <div class="row align-items-center">
        <div class="col-auto">
          <!-- Avatar -->
          <a class="avatar">
            <img
              src="assets/img/avatars/profiles/avatar-1.jpg"
              alt="..."
              class="avatar-img rounded-circle"
            />
          </a>
        </div>
        <div class="col ml-n2">
          <!-- Title -->
          <h4 class="mb-1">
            <a>Dianna Smiley</a>
          </h4>

          <!-- Status -->
          <p class="small mb-0"><span class="text-success">●</span> Online</p>
        </div>

<!--        <form>-->
<!--          <div class="input-group input-group-lg input-group-merge">-->
<!--            <input-->
<!--              class="list-search form-control form-control-prepended"-->
<!--              type="search"-->
<!--              placeholder="Search"-->
<!--              style="height: 48px;"-->
<!--            />-->
<!--            <div class="input-group-prepend">-->
<!--              <div class="input-group-text">-->
<!--                <span class="fe fe-search"></span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->

        <div class="col-auto">
          <a class="dropdown-ellipses dropdown-toggle">
            <i class="fe fe-search"></i>
          </a>
        </div>

        <div class="col-auto">
          <a class="dropdown-ellipses dropdown-toggle">
            <i class="fe fe-more-vertical"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="chat-content" style="overflow-y: auto;">
      <div>
        <div class="message message-right">
          <!-- Avatar -->
          <a class="avatar avatar-sm">
            <img
              src="assets/img/avatars/profiles/avatar-3.jpg"
              alt=""
              class="avatar-img rounded-circle"
            />
          </a>

          <!-- Body -->
          <div class="messages-from">
            <div class="comment-body d-block mt-1" style="width: fit-content;">
              <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur.
              </p>
            </div>
            <div class="comment-body d-block mt-1" style="width: fit-content;">
              <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea
                eius, veniam?
              </p>
            </div>
          </div>
        </div>

        <div class="message">
          <!-- Avatar -->
          <a class="avatar avatar-sm">
            <img
              src="assets/img/avatars/profiles/avatar-3.jpg"
              alt=""
              class="avatar-img rounded-circle"
            />
          </a>

          <!-- Body -->
          <div class="messages-from">
            <div class="comment-body d-block mt-1" style="width: fit-content;">
              <p class="mb-0">
                Lorem ipsum dolor sit.
              </p>
            </div>
          </div>
        </div>

        <div class="message message-right">
          <!-- Avatar -->
          <a class="avatar avatar-sm">
            <img
              src="assets/img/avatars/profiles/avatar-3.jpg"
              alt=""
              class="avatar-img rounded-circle"
            />
          </a>

          <!-- Body -->
          <div class="messages-from">
            <div class="comment-body d-block mt-1" style="width: fit-content;">
              <p class="mb-0">
                Lorem ipsum dolor sit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-auto"></div>

    <div class="chat-footer">
      <div class="col pl-0">
        <form>
          <textarea
            class="form-control form-control-flush"
            rows="1"
            placeholder="Type a message..."
            style="overflow: hidden; overflow-wrap: break-word; height: 40px;"
          ></textarea>
        </form>
      </div>
      <div class="col-auto pr-0 align-self-end">
        <div class="text-muted">
          <a class="text-reset mr-4">
            <i class="fe fe-camera"></i>
          </a>
          <a class="text-reset mr-4">
            <i class="fe fe-paperclip"></i>
          </a>
          <a class="text-reset mr-4">
            <i class="fe fe-mic"></i>
          </a>
          <button
            class="btn btn-rounded-circle btn-primary"
            style="width: 40px; height: 40px;"
            (click)="send()"
          >
            <span class="fe fe-send"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
