<div class="container">
  <div
    class="row align-items-center justify-content-center"
    style="height: 100vh"
  >
    <div
      class="col-12 col-md-6 offset-xl-2 offset-md-1 order-md-2 mb-5 mb-md-0"
    >
      <!-- Image -->
      <div class="text-center">
        <img
          src="assets/img/illustrations/mobile-login.svg"
          alt="..."
          class="img-fluid"
        />
      </div>
    </div>
    <div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">
      <!-- Heading -->
      <h1 class="display-4 text-center mb-3">Password reset</h1>

      <!-- Subheading -->
      <p class="text-muted text-center mb-5">
        <strong><em>Attention!</em></strong> This link will only be valid for
        one day.
      </p>

      <form (ngSubmit)="onResetPassword(form)" #form="ngForm">
        <div class="form-group">
          <label>New Password</label>
          <input
            ngModel
            required
            minlength="6"
            type="password"
            class="form-control"
            placeholder="Enter your password"
            name="password"
            [disabled]="isLoading"
            #password="ngModel"
          />
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input
            ngModel
            required
            type="password"
            class="form-control"
            placeholder="Confirm your password"
            name="confirmPassword"
            [disabled]="isLoading"
            #confirmPassword="ngModel"
          />
        </div>

        <button class="btn btn-lg btn-block btn-primary mb-3" type="submit">
          Reset Password
        </button>

        <div class="text-center">
          <small class="text-muted text-center">
            Remember your password?
            <a>Log in</a>.
          </small>
        </div>
      </form>
    </div>
  </div>
</div>
