<nav
  class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light"
  id="sidebar"
>
  <div class="container-fluid">
    <!-- Hamburger toggler -->
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="nav"
      aria-label="Toggle navigation"
      [attr.aria-expanded]="!collapses.nav"
      (click)="toggleCollapse(navToggler)"
      #navToggler
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Logo -->
    <a class="navbar-brand" routerLink="">
      <img
        class="navbar-brand-img mx-auto"
        src="../../../assets/img/logo.svg"
        alt=""
      />
    </a>
    <!-- User avatar (xs) -->
    <div class="navbar-user d-md-none">
      <div class="dropdown" dropdown>
        <!-- Toggler -->
        <a
          class="dropdown-toggle"
          id="sidebarIcon"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          dropdownToggle
        >
          <div class="avatar avatar-sm avatar-online">
            <img
              src="{{ user.avatarUrl }}"
              class="avatar-img rounded-circle"
              alt=""
              *ngIf="user.avatarUrl"
            />
            <span class="avatar-title rounded-circle" *ngIf="!user.avatarUrl">
              {{ user.name.charAt(0) }}
            </span>
          </div>
        </a>
        <!-- Menu -->
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="sidebarIcon"
          *dropdownMenu
        >
          <a class="dropdown-item">Profile</a>
          <a class="dropdown-item" routerLink="/account/settings/general"
            >Settings</a
          >
          <hr class="dropdown-divider" />
          <a class="dropdown-item" (click)="logout()">Sign out</a>
        </div>
      </div>
    </div>
    <!-- Nav collapse (md)-->
    <div
      class="collapse navbar-collapse"
      id="nav"
      [collapse]="collapses.nav"
      [isAnimated]="true"
    >
      <!-- Search -->
      <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input
            type="search"
            class="form-control form-control-rounded form-control-prepended"
            placeholder="Search"
            aria-label="Search"
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fe fe-search"></span>
            </div>
          </div>
        </div>
      </form>

      <!-- Navigation -->
      <ul class="navbar-nav">
        <!-- Dashboard -->
        <li class="nav-item">
          <a
            class="nav-link"
            role="button"
            aria-expanded="true"
            aria-controls="sidebarDashboards"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="fe fe-home"></i> Dashboard
          </a>
        </li>

        <!-- Users -->
        <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="collapse"
            role="button"
            aria-controls="users"
            [attr.aria-expanded]="!collapses.users"
            (click)="toggleCollapse($event.target)"
          >
            <i class="fe fe-users"></i> Users
          </a>
          <div
            class="collapse"
            [collapse]="collapses.users"
            [isAnimated]="true"
          >
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a
                  class="nav-link"
                  role="button"
                  routerLink="/users/list"
                  routerLinkActive="active"
                  [queryParams]="{ view: 'active' }"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  Active
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  role="button"
                  routerLink="/users/list"
                  routerLinkActive="active"
                  [queryParams]="{ view: 'disabled' }"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  Disabled
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  role="button"
                  routerLink="/users/list/"
                  routerLinkActive="active"
                  [queryParams]="{ view: 'deleted' }"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  Deleted
                </a>
              </li>
            </ul>
          </div>
        </li>

        <!-- Reports -->
        <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="collapse"
            role="button"
            aria-controls="reports"
            [attr.aria-expanded]="!collapses.reports"
            (click)="toggleCollapse($event.target)"
          >
            <i class="fe fe-flag"></i> Reports
            <span
              class="badge badge-soft-success ml-2"
              *ngIf="pendingCount != ''"
              >New</span
            >
          </a>
          <div
            class="collapse"
            [collapse]="collapses.reports"
            [isAnimated]="true"
          >
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a
                  class="nav-link"
                  role="button"
                  routerLink="/reports/list"
                  routerLinkActive="active"
                  [queryParams]="{ view: 'pending' }"
                >
                  Pending
                  <span class="badge badge-primary ml-auto">{{
                    pendingCount
                  }}</span>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  role="button"
                  routerLink="/reports/list"
                  routerLinkActive="active"
                  [queryParams]="{ view: 'approved' }"
                >
                  Approved
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  role="button"
                  routerLink="/reports/list/"
                  routerLinkActive="active"
                  [queryParams]="{ view: 'disapproved' }"
                >
                  Disapproved
                </a>
              </li>
            </ul>
          </div>
        </li>

        <!-- Messages -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active">
            <i class="fe fe-message-circle"></i> Messages
          </a>
        </li>

        <!-- Notifications toggler (s) -->
        <li class="nav-item d-md-none">
          <a
            class="nav-link"
            data-toggle="activity"
            (click)="openModal($event.target)"
          >
            <span class="fe fe-bell"></span> Notifications
          </a>
        </li>
      </ul>

      <!-- Divider -->
      <hr class="navbar-divider my-3" />

      <!-- Heading -->
      <h6 class="navbar-heading">Admin area</h6>
      <ul class="navbar-nav mb-md-4">
        <li class="nav-item">
          <a class="nav-link"> <i class="fe fe-user-check"></i>Members</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"> <i class="fe fe-shield"></i>Safety Toolkit</a>
        </li>
      </ul>
      <!-- Push content down -->
      <div class="mt-auto"></div>

      <!-- Customize -->
      <div id="popoverDemo">
        <a class="btn btn-block btn-primary mb-4">
          <i class="fe fe-sliders mr-2"></i> Customize
        </a>
      </div>

      <!-- User (md) -->
      <div class="navbar-user d-none d-md-flex" id="sidebarUser">
        <!-- Notification toggler -->
        <a class="navbar-user-link" (click)="openModal($event.target)">
          <span class="icons">
            <i class="fe fe-bell" data-toggle="activity"></i>
          </span>
        </a>
        <!-- Avatar popup -->
        <div class="dropup">
          <!-- Toggler -->
          <a
            id="sidebarIconCopy"
            class="dropdown-toggle"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <div class="avatar avatar-sm avatar-online">
              <img
                class="avatar-img rounded-circle"
                src="{{ user.avatarUrl }}"
                alt=""
                *ngIf="user.avatarUrl"
              />
              <span class="avatar-title rounded-circle" *ngIf="!user.avatarUrl">
                {{ user.name.charAt(0) }}
              </span>
            </div>
          </a>
          <!-- Menu -->
          <div class="dropdown-menu" aria-labelledby="sidebarIconCopy">
            <a class="dropdown-item">Profile</a>
            <a class="dropdown-item" routerLink="/account/settings/general"
              >Settings</a
            >
            <hr class="dropdown-divider" />
            <a class="dropdown-item" (click)="logout()">Sign out</a>
          </div>
        </div>
        <!-- Icon -->
        <a class="navbar-user-link">
          <span class="icon" (click)="openModal($event.target)">
            <i class="fe fe-search" data-toggle="search"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>
